* {
    padding: 0;
    margin: 0;
}
body {
   
    font-family: 'Raleway', sans-serif;
    color: #1b1b1b;
}
p {
    font-size: 16px;
}
p strong {
    font-size: 15px;
}
h3 {
    font-size: 30px;
    font-weight: 700;
}
h5 {
    font-size: 22px;
    font-weight: 700;

}
h6 {
    font-weight: 700;

}
.ptb-60 {
    padding: 60px 0;
}
.ptb-40 {
    padding: 40px 0;
}
.main-hr {
    background: #FFBE00 ;
    width: 150px;
    margin: 12px auto;
    padding: 2px 0;
    opacity: .5;
}


.sec-color {
    color: #EC407A;
}
.color-red {
    color: red;
}
.color-black {
    color: #000;
}

/*Bootstrap Overwrite*/
.header-pages .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.header-pages .navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.header-pages .navbar-brand {
    background-color: #FFBE00;
    padding: 15px 50px;
}
.header-pages .navbar-nav {
    padding-right: 5%;
}
.header-pages .nav-link {
    color: #1b1b1b !important;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

/* Home Page Header */
.header {
    background-color: #FFDA9B;
}
.logo {
    padding-top: 13px;
    padding-left: 4%;
    padding-bottom: 8px;
}
.logo img {
    width: 270px;
}

.menu {
    padding-top: 22px;
    padding-right: 4%;
    
}
.menu-bar {
    background: #FFBE00;
    transition: .5s;
    -webkit-transition: .5s;
    padding: 4px 10px 2px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}
.menu-bar:hover {
    background: #FFBE00;
}

.menu-bar .fa-bars {
   color: #f9fcff;
   font-size: 30px;
}
.menu-all {
    position: relative;
}
.menu-list {
    position: absolute;
    width: 170px;
    background: #FFBE00;
    right: 0;
    top: 38px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #FFBE00;
    display: none;
    z-index: 9;
}
.menu-list ul li {
    list-style: none;
    padding: 5px 0;
}
.menu-list ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: all .3s;
}
.menu-list ul li a:hover {
    color: #EC407A;
    font-weight: 900;
}


.navbar-pages {
    padding-left: 5%;
    padding-right: 5%;
}

.logo-center {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #FFBE00;
    position: relative;
    top: 12px;
}
.logo-center svg {
    position: absolute;
    top: 50%;
    color: #FFBE00;
    left: 50%;
    transform: translate(-50%, -50%);
}



.full-page {
    background-image: url(../images/a.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 240px;
   position: relative;
}
.full-page-left-img {
    position: absolute;
}
.full-page-left-img img {
    height: 380px;
}
.grow-more-banner {
    padding-top: 78px;
}
.growmore-banner-right h3 {
    color: #010101;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
.grow-more-banner a {
    color : #fff;
    padding: 8px 30px;
    text-decoration: none;
    /* border: 1px solid #ebb109; */
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FFBE00;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    transition: all .3s;
}
/* Slanted */

.main-body-slanted {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3rem 0 62px 0;
    overflow: hidden;
}
.slanted-bg {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFBE00;
    transform: skewY(-5deg);
    transform-origin: top right;
}
.slanted-content {
    position: relative;
   
}

    .slanted-img-abs {
        position: absolute;
        top: 115px;
    }

.slanted-content {
    text-align: center;
    padding-top: 45px;
}
.slanted-content hr {
    width: 200px;
    margin: 0 auto;
    background: #010101;
    opacity: 1;
    padding: 1px 0;
}
.slanted-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}
.slanted-content p {
    padding: 10px 0 6px 0;
}
.slanted-a a {
    color: #010101;
    padding: 8px 30px;
    text-decoration: none;
    border: 1px solid #010101;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    transition: all .3s;
}
/* ====== Contact ====== */
.full-page-two {
    background-image: url(../images/slide3.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 260px;
}
.grow-more-banner-two {
   padding-top: 80px;
}
.grow-more-banner-two a {
    color : #fff;
    padding: 8px 30px;
    text-decoration: none;
    /* border: 1px solid #ebb109; */
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FFBE00 ;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    transition: all .3s;
}
.growmore-banner-text-two {
    background: rgba(236, 236, 236, .5);
    padding: 30px;
    text-align: center;
}
/* About */
.about-content {
padding-left: 30px;
}
.about img {
    width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
    border-radius: 8px;
}
.about-text hr {
width: 100px;
background: #FFBE00 ;
padding: 2px 0;
opacity: .7;
}
.contact-form .btn-primary {
    color: #fff;
    background-color: #FFBE00 ;
    border-color: #FFBE00 ;
}

/* Services */
/* .services-block p{
    background: #e5e5e5;
    font-size: 14px;
    padding: 8px 28px;
    border-radius: 4px;
}
.services-page-h2 {
    text-align: center;
    padding-bottom: 10px;
} */

.services-item {
    padding: 20px 10px 10px 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.75);
-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.75);
-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.75);
border-radius: 4px;
}
.services-item img {
   width: 100%;
   height: 200px;
}
.services-item h5 {
    padding: 30px 0 0px 0;
}
.services-item hr {
    background: #bb1616;
    width: 100px;
    padding: 2px 0;
}

/* Creativity */
.where-h4 {
    text-align: center;
}
.hr-one {
    width: 200px;
    margin: 10px auto 40px auto;
    height: 4px !important;
}
.hr-two {
    width: 200px;
    margin: 18px auto 20px auto;
    height: 4px !important;
}
.creativity-first-block-left {
    text-align: center;
}
.creativity-first-block-right {
    text-align: center;
}
.creativity-first-block-right a {
    padding: 0 5px;
}
.growmore-help {
   
    padding: 40px 0;
}
.growmore-help h4 {
    text-align: center;
}
.growmore-help-btn {
    padding: 4px 10px;
    background-color: #0883ff;
    border: 1px solid #0883ff;
    color: #fff;
    border-radius: 4px;
    margin: 8px;
    cursor: default !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.imagination {
    background-color: #e5e5e5;
}
.multimedia-client {
    padding-top: 20px;
}
.multimedia-client-block {
    text-align: center;
    padding: 40px;
    border: 1px solid #d3d0d0;
    height: 150px;
    border-radius: 8px;
}
/* Clients */
.all-client {
}
.all-client ul li{
    padding: 10px 0;
}

/* Portfolio */
/* Clients */
.clients {
    position: relative;
    background-image: url(../images/1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients-overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #272727;
opacity: .9;
}
.clients-img img {
    width: 100%;
}
.clients-header, .clients-img {
  position: relative;
}
.clients-header h4 {
  color: #fff;
}
.clients-header p {
  color: #fff;
}
/* Counter */
.counter-item svg {
  font-size: 25px;
  font-weight: 900;
  }
.counter-item h2 {
padding-top: 10px;
padding-bottom: 5px;
}

/* Noticed */
.noticed {
  display: flex;
  flex-wrap: wrap;
}
.noticed-item {
  flex: 50%;
  max-width: 50%;
}
.noticed-item-one {
  background-image: url(../images/1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
.noticed-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFBE00;
  opacity: .8;
}
.noticed-item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noticed-item-content h2 {
    color: #010101;
}
.noticed-hr {
  width: 100px;
  margin: 0 auto;
  background: #010101;
  opacity: 1;
  padding: 1px 0;
  margin-bottom: 10px;
}
.noticed-item-content p {
  color: #010101;
}
.noticed-item img {
    width: 100%;
}

.ex-a {
  color: #010101;
  padding: 8px 30px;
  text-decoration: none;
  border: 1px solid #010101;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  box-shadow: rgb(0 0 0 / 35%) 0px 2px 5px;
  transition: all .3s;
}
.last-p {
  overflow: hidden;
  text-align: center;
}










.footer {
    background: #dda70b;
    transition: .5s;
    -webkit-transition: .5s;
    color: #1b1b1b;
    overflow: hidden;
    padding: 60px 10%;
}
.footer-first-item-img img {
width: 100%;
height: 60px;
border-radius: 50%;
}
.footer-pages-ul {
    padding: 0;
    margin: 0;
}

.footer-pages-ul li {
    list-style: none;
}

.footer-pages-ul li a {
    color: #1b1b1b;
    text-decoration: none;
    transition: all .1s;
}
.footer-pages-ul li a:hover {
   
}
.footer-gallery img{
    width: 100%;
    height: 120px;
    border-radius: 8px;
    padding: 6px 0;
}
.col-padd-mar {
    padding-right: 0;
}
.footer-item h4 {
    padding-bottom: 12px;
}
.footer-item h4 span {
    border-bottom: 3px solid #FFBE00 ;
    padding-bottom: 6px;
}
.last-footer {
    background: gray;
    padding: 10px 0;
}
.last-footer p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 12px;
}

